# Data Science Tools and Ecosystem

## Introduction
This is the final work of the course "Tools for Data Science"

**Objectives:**
- Main Data science languages
- Main Data science libreries
- arithmetic expressions

Main Data science languages:
1) Python
2) R
3) SQL
4) Java
5) Scala
6) C++
7) Javascript
8) Julia

The first three are the most used

Main Data science libreries:
- Pandas
- Numpy
- Scipy
- Matplotlib
- Tensorflow
- Pytorch
- Keras
- Scikit-learn
- NLTK

| Data Science Tools |
| ------ | 
| Jupyter | 
| RStudio | 
| Apache Spark |

### In the next cell, 2 examples of a functions calculating arithmetic expressions in python are displayed

In [24]:
# this is a simple function to multiply two numbers
def multiply(x,y): 
    return x*y

# this is a simple function to add two numbers
def sum(x,y):
    return x+y

print("5 * 2 =", multiply(5,2))
print("5 + 2 =", sum(5,2))

5 * 2 = 10
5 + 2 = 7

In [25]:
#This will convert 200 minutes to hours by diving by 60
def min_to_hour(m):
    return m/60

print("200 minutes are equal to:", min_to_hour(200), "hours")

200 minutes are equal to: 3.3333333333333335 hours

## Author 
Sharon Dacatra