# My Jupyter Notebook

## Introduction
This is the final work of the course "Tools for Data Science"

Main Data science languages:
1) Python
2) R
3) SQL
4) Java
5) Scala
6) C++
7) Javascript
8) Julia

The first three are the most used

Main Data science libreries:
- Pandas
- Numpy
- Scipy
- Matplotlib
- Tensorflow
- Pytorch
- Keras
- Scikit-learn
- NLTK

Main data science tools:
- apache
- ModelDB
- hue
- Git
- Jupyter
- RStudio
- IBM DB2
- Power BI
- SPSS
- Informatica
- Watson Studio
- Watson ML
- Watson Opne Scale

In the next cell, an example of a functions calculating an arithmetic expressions can be seen

In [11]:
def multiply(x,y):
    return x*y

def sum(x,y):
    return x+y

print("5 * 2 =", multiply(5,2))
print("5 + 2 =", sum(5,2))

5 * 2 = 10
5 + 2 = 7

In [17]:
def min_to_hour(m):
    return m/60

print("120 minutes are equal to:", min_to_hour(120), "hours")

120 minutes are equal to: 2.0 hours

These are my objectives:
1) Be happy

### Author name: Sharon Dacatra